<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body>

        <nav th:replace="fragments :: page-header"></nav>

        <div class="container body-content">

            <h1 th:text="${title}">Default Title</h1>


            <ul>
                <li th:each="cheese : ${menu.cheeses}" th:text="${cheese.name}"></li>
            </ul>

            <button type="button" class="btn btn-secondary"><a th:href="'/menu/add-item/' + ${menu.id}" style="color: white;">Add Cheese</a></button>

        </div>
    </body>
</html>
